body {
  background: #FF9D5A;
  background: linear-gradient(-45deg, #FF9D5A, #FFCDC9);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  color: #FFF;
  font-family: "Helvetica";
  font-size: 100px;
  padding-top: 200px;
  width: 100%;
  text-align: center;
}

h2 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "helvetica";
  font-weight: 100;
  font-size: 48px;
  line-height: 60px;
  padding-top: 7%;
  padding-bottom: 20%;
  text-align: center;
  width: 100%;
}

p {
  color: AliceBlue;
  font-family: "Helvetica";
  font-size: 80px;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
  padding-bottom: 15%;
}

h3 {
  color: AliceBlue;
  font-family: "Helvetica";
  font-size: 80px;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
}

h4 {
  color: AliceBlue;
  font-family: "Helvetica";
  font-size: 80px;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
  padding-bottom: 15%;
}


.nav {
  background-color: #595959;
  color: #ffffff;
  font-family: helvetica;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
  position: fixed;
  margin-bottom: 100%;
}

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}

.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}

.nav > li > a:hover {
  color: #c1c1c1;
}

.byline {
  font-family: helvetica;
  color:black;
  opacity: 0.3;
  display: inline;
  margin-left: 10px;
  font-size: 15px;
  text-transform: lowercase;
}

.content {
  padding: 40px;
}

.image {
  background-size: cover;
  background-position: center;
  height: 700px;
  margin-left: 400px;
  margin-top: 100px;
  position: center;
}

.image2 {
  background-size: cover;
  background-position: center;
  width: 1200px;
  padding-bottom: 20%;
}


.image3 {
  background-size: cover;
  background-position: center;
  width: 1000px;
  margin-left: 400px;
  margin-bottom: 200px;
  position: center;
}

.image4 {
  background-size: cover;
  background-position: center;
  width: 1200px;
  position: center;
  float: right;
  padding-bottom: 20%;
}

.image5 {
  background-size: cover;
  background-position: center;
  width: 500px;
  margin-left: 200px;
}

.cashregister {
  background-size: cover;
  background-position: center;
  width: 1400px;
  padding-left: 5%;
  padding-bottom: 5%;
}

.phone {
  background-size: cover;
  background-position: center;
  width: 1200px;
  position: center;
  float: left;
  padding-top: -50%;
}

.writer-img {
  -webkit-box-shadow: 2px 0px 2px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 2px 0px 2px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 50, 0.97);
  float: left;
  width: 100px;
}

.content-wrapper{
  width: 100%;
  display: table;
  padding-bottom: 20%;
}

.content-wrapper img{
  width: 100%;
}

.text-wrapper img{
  width: 80%;
  position: relative;
/*  margin-top: 40%;
*/}

.text-wrapper{
  display: table-cell;
  vertical-align: center;
  margin: 0 auto;

  width: 100%;
  height: 75vh;
    background-size: cover;
  background-image: url(img/guilt.png);
  background-position: center;
}

.text-wrapper h3{
  text-align: center;
  color: AliceBlue;
  padding-top: 10%;
}

body, html {
  cursor: url(http://www.picgifs.com/food-and-drinks/food-and-drinks/eggs/food-and-drinks-eggs-252212.gif), pointer;

}
