.hide {
	opacity: 0;
}

.gradient {
  background: url("http://wei-haowang.com/yoon/background.png");
  /*background: url('chrome-extension://higengemoidnhinoicljomfjmafnndcg/img/background.png');*/
}

/*body {
  background: url('img/background.png') !important;
}*/
.ttt{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}