.hide {
	opacity: 0;
}

.gradient {
  background: linear-gradient(135deg, #ff0000 1%,#fff200 20%,#00ffdd 40%,#090df9 60%,#ff0af6 80%,#ff0004 100%);
  color: white;
}

body {
  background: url('https://media.giphy.com/media/3o7WTDJQVuYwhhuLhC/giphy.gif') !important;
}
 

.rotate {
	transform: rotate(180deg);
}